@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    list-style: none;
    font-size: 1rem;
    font-family: 'serif', Arial, sans-serif;
}

:root {
    --color-primary: #18B4DB;
    --color-secondary: #1e3946;
    --color-danger: #ef4444;
    --black: #313131;
    --light-gray: #b8c3c7;
    --white: #fff;
}

body {
    color: var(--white);
    background: #535d6c;
    background-image: url('/bg2.jpg');
    background-size: cover;
    background-position: center;
}

.layout {
    background-color: rgba(255, 255, 255, 0.114);
    backdrop-filter: blur(7px);
    height: 100vh;
}

h1 {
    font-size: 3rem;

}

h2 {
    font-size: 2.3rem;
}

.btn {
    padding: 0.6rem 1rem;
    border-radius: 5rem;
    font-weight: 500;
    transition: background-color 200ms;
    cursor: pointer;
    border: none;
    min-width: 11rem;
    font-size: 1.2rem;
}

.btn-primary {
    background-color: var(--color-primary);
    color: white;

}

.btn-primary:hover {
    background-color: #16a8cd;
}

.btn-secondary {
    background-color: #6b7280;
    color: white;
}

.btn-thirdary {
    background-color: var(--white);
    color: var(--color-secondary);
}
.btn-thirdary:hover {
    background-color: #e5e7eb;
}
.btn-danger {
    background-color: var(--color-danger);
    color: white;
}
.btn-danger:hover {
    background-color: #dc2626;
}
.btn-secondary:hover {
    background-color: #4b5563;
}

.input {
    width: 100%;
    padding: 1rem;
    border: 1px solid #d1d5db;
    border-radius: 0.5rem;
}

.input:focus {
    outline: none;
    border-color: var(--color-primary);
}

/* ===========navBar============= */
.navbar {
    /* background-color: var(--white); */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 1rem 1.5rem;
    position: sticky;
    top: 0;
    z-index: 100;

}

.navbar nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    }

.navbar h1 {
    font-size: 1.8rem;
    color: var(--white);
    font-family: 'Arial Black', sans-serif;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.nav_links {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.nav_links li {
    color: var(--white);
    font-weight: 500;
    cursor: pointer;
    transition: color 200ms;
    font-size: 1.2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

}

.nav_links li:hover {
    color: var(--color-primary);
}

/* =============hero section============= */
.heroSection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 4rem;
    gap: 2rem;
    height: 90vh;
}

.heroContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);

}

.heroContent h1 {
    font-size: 4.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

.heroContent p {
    font-size: 1.5rem;
    color: var(--light-gray);
    text-align: center;
    width: 60%;
}

.heroImage {
    width: 40rem;
}

.logs {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.w-25 {
    width: 120px;
}

.switch_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
    border: 1px solid #d1d5db;
    padding: 0.6rem 3rem;
    border-radius: 5rem;
    width: 100%;
    position: relative;
    cursor: pointer;
}

.switch_container p {
    z-index: 1;
    font-size: 1.2rem;
    transition: all 0.39s ease-in;


}

.switch_container span {
    position: absolute;
    background-color: var(--color-primary);
    height: 100%;
    width: 10rem;
    border-radius: 5rem;
    top: 0;
    transition: all 0.3s ease-in-out;

}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 35rem;
    margin: auto;
    margin-top: 10rem;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.379);
    padding: 2rem 1rem;
    border-radius: 1rem;
    height: fit-content;
    background: rgba(12, 12, 12, 0);
}

form ::placeholder {
    color: var(--light-gray);
}

.form_title {
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 600;
    color: var(--color-primary);
}

/* ============== media queries ============== */

@media (max-width: 1024px) {
    /* body{
        color: red;
    } */
    .heroSection {
        flex-direction: column;
        padding: 2rem;
        /* height: auto; */
    }

    .heroContent h1 {
        font-size: 4rem;
    }

    .heroContent p {
        width: 80%;
        font-size: 1.4rem;
    }

    .heroImage {
        width: 30rem;
    }

}

@media (max-width: 836px) {
/* body{
        color: blue;
    } */
    .heroContent h1 {
        font-size: 3rem;
    }

    .heroContent p {
        width: 100%;
        font-size: 1.2rem;
    }

    .heroImage {
        width: 100%;
    }
}

@media (max-width: 680px) {
    .nav_links {
        display: none;
    }

    .heroContent h1 {
        font-size: 2rem;
    }

    .heroContent p {
        font-size: 1rem;
        width: 100%;
    }

    .heroImage {
        width: 100%;
    }

    form {
        margin-top: 2rem;
        padding: 1.5rem 1rem;
    }

    .switch_container {
        padding: 0.6rem 1rem;
    }
}