@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    list-style: none;
    font-family: 'serif', Arial, sans-serif;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

:root {
    --color-primary: #18B4DB;
    --color-secondary: #2b4351;
    --color-danger: #ef4444;
    --black: #313131;
    --gray: #A6A6A6;
    --light-gray: #b8c3c7;
    --white: #f0f0f0;
}

body {
    color: var(--color-secondary);
    background: var(--white);
}

div img {
    width: 100%;
    object-fit: fill;
    height: 100%;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.3rem;
}

.title {
    font-size: 2rem;
    font-weight: bold;
}

.btn {
    padding: 0.6rem 1rem;
    border-radius: 0.5rem;
    font-weight: 500;
    transition: all 200ms;
    cursor: pointer;
    border: none;
    width: 100%;
    font-size: 1.1rem;

}

.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 0.5rem 20px rgba(0, 0, 0, 0.153);
}

.btn-primary {
    background-color: var(--color-primary);
    color: white;

}

.btn-secondary {
    background-color: var(--color-secondary);
    color: white;
}

.btn-thirdary {
    background-color: var(--white);
    color: var(--color-secondary);
}

.btn-danger {
    background-color: var(--color-danger);
    color: white;
}



.input,
.add_file_input {
    width: 100%;
    padding: 1rem;
    border: 1px solid #d1d5db;
    border-radius: 0.5rem;
}

.add_file_input {
    text-align: left;
    color: var(--color-secondary);
}

.input:focus {
    outline: none;
    border-color: var(--color-primary);
}

.boxLayout_container {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    border: solid 1px var(--light-gray);
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    /* border-bottom: solid 10px  var(--color-secondary); */
}

.boxLayout_container:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.146);

}

/*popup*/
.PopUpLayout_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.285);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 97;
}

.PopUpLayout_box {
    width: 90%;
    max-width: 30rem;
    background-color: var(--white);
    border-radius: 0.4rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.183);
    padding: 1rem;
}
.flex{
    display: flex;
}
.none{
    display: none;
}
/* ===========navBar============= */
/*upper navbar*/
.upper_navbar_container {
    background-color: var(--color-secondary);
    height: 5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 1rem 1.5rem;
    position: sticky;
    top: 0;
    z-index: 100;

}

.upper_navbar_container .upper_navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 auto;
}

.upper_navbar_container .upper_navbar img {
    width: 8rem;
}

.upper_navbar_container h1 {
    font-size: 1.8rem;
    color: var(--white);
    font-family: 'Arial Black', sans-serif;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.layout {
    margin-left: 15rem;
}


.nav_btn {
    color: var(--white);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

/*side navbar*/
.side_navbar_container {
    width: 15rem;
    height: 100vh;
    position: fixed;
    top: 5rem;
    left: 0;
    background-color: var(--color-secondary);
    padding-top: 1rem;
    /* To account for the upper navbar height */
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.098);
    z-index: 99;
    color: var(--white);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.accountLink {
    position: absolute;
    bottom: 5.3rem;
    /* background-color: green; */
    width: 100%;
    height: 3rem;
    padding: 0.5rem 1rem;
    display: grid;
    grid-template-columns: 15% 85%;
    align-items: center;
    gap: 1rem;
    box-shadow: 0 -2px 20px rgba(0, 0, 0, 0.212);
}

.navBar_closed {
    transform: translateX(-100%);
}


.side_navbar_links {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
    /* background-color: red; */

}

.side_navbar_links .link {
    color: var(--white);
    font-size: 1.1rem;
    padding: 0.6rem 1rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s;
    display: grid;
    grid-template-columns: 15% 85%;
    align-items: center;
    gap: 1rem;
    /* background-color: red; */
}

.active_link,
.side_navbar_links .link:hover {
    background-color: var(--color-primary);
    cursor: pointer;
}

.btn_sideNavBar {
    position: absolute;
    background-color: var(--color-secondary);
    color: var(--white);
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
    border-radius: 50%;
    cursor: pointer;
}

.btn_sideNavBar:hover i {
    transform: translateX(-3px);
    transition: all 0.3s;
}

/* =============hero section============= */
.heroSection {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 4rem;
    gap: 2rem;
    height: 90vh;
}

.heroContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

}

.heroContent h1 {
    font-size: 4.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

.heroContent p {
    font-size: 1.5rem;
    color: var(--color-secondary);
    text-align: center;
    width: 60%;
}

.heroImage {
    width: 40rem;
}



.switch_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1rem;
    border: 1px solid #d1d5db;
    padding: 0.6rem 3rem;
    border-radius: 5rem;
    width: 100%;
    position: relative;
    cursor: pointer;
}

.switch_container p {
    z-index: 1;
    font-size: 1.2rem;
    transition: all 0.39s ease-in;


}

.switch_container span {
    position: absolute;
    background-color: var(--color-primary);
    height: 100%;
    width: 10rem;
    border-radius: 5rem;
    top: 0;
    transition: all 0.3s ease-in-out;

}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
    max-width: 35rem;
    margin: 2rem auto;
    /* margin-top: 10rem; */
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.205);
    padding: 1rem;
    border-radius: 1rem;
    height: fit-content;
    background: rgba(12, 12, 12, 0);
}

form ::placeholder {
    color: var(--light-gray);
}

.form_title {
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 600;
    color: var(--color-primary);
}

/* ============== Produts page ============== */
.search_section_container {
    height: 4.5rem;
    margin: 0 auto;
    position: fixed;
    background-color: var(--white);
    padding-left: 15rem;
    left: 0;
    right: 0;
    z-index: 10;
    /* background-color: red; */
}

.search_section {
    /* background-color: blue; */
    display: flex;
    gap: 1rem;


}

.Products_container {
    padding-top: 5rem !important;
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 0.6rem;
    /* background-color: red; */
}

.productCard {
    width: 100%;
    height: 20rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: solid 5px var(--color-secondary);
    transition: all 0.3s ease-in-out;
    /* background-color: rgba(0, 0, 255, 0.151); */
    cursor: pointer;
    /* background-color: red; */
}


.productImg {
    width: 10rem;
    height: 10rem;
    place-self: center;
}

.productContent {
    /* background-color: rgba(255, 0, 0, 0.228); */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.productContent .productTitle {
    font-size: 1.5rem;
    font-weight: bold;

}

.productContent .productDesc {
    /* font-size: 1.5rem; */
    color: var(--gray);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;

}

.productPrice {
    /* font-size: 1.2rem; */
    font-weight: bold;
}

.productProvider {
    text-align: center;
    color: var(--gray);
    font-weight: bold;
    font-size: 0.8rem;

}

.full_layout {
    margin-left: 0rem;
    padding-left: 0rem;
}

/* ============== Product details page ============== */
.productImages {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    width: 100%;
    max-width: 50rem;
    margin: 1rem auto;
    align-items: center;
    justify-items: center;
    border: solid 2px var(--color-secondary);
    padding: 0.5rem;
    border-radius: 1rem;
    /* background-color: red; */
}

.productImages .img {
    width: 10rem;
    height: 10rem;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

table {
    width: 100%;
    max-width: 50rem;
    margin: 2rem auto;
    border-collapse: collapse;
    background-color: var(--white);
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

table th {
    background-color: var(--color-secondary);
    color: var(--white);
    padding: 1rem;
    text-align: left;
    font-weight: 600;
    font-size: 1rem;
    width: 2rem;
}

table td {
    padding: 1rem;
    border-bottom: 1px solid var(--light-gray);
    color: var(--color-secondary);
    font-size: 1rem;
}

table tr:last-child td {
    border-bottom: none;
}

table tr:hover {
    background-color: #f9f9f9;
    transition: background-color 0.3s ease;
}

/* ============== media queries ============== */

@media (max-width: 1024px) {
    /* body {
        background-color: red;
    } */

    .heroSection {
        flex-direction: column;
        padding: 2rem;
        /* height: auto; */
    }

    .heroContent h1 {
        font-size: 4rem;
    }

    .heroContent p {
        width: 80%;
        font-size: 1.4rem;
    }

    .heroImage {
        width: 30rem;
    }

    .nav_btn {
        display: flex;
    }

    .layout {
        margin-left: 0rem;
    }

    .side_navbar_container {
        width: 100%;
    }

    .side_navbar_container .side_navbar_links {
        width: 50%;
    }

    .btn_sideNavBar {
        display: none;
    }
}

@media (max-width: 836px) {

    /* body{
        color: blue;
    } */
    .heroContent h1 {
        font-size: 3rem;
    }

    .heroContent p {
        width: 100%;
        font-size: 1.2rem;
    }

    .heroImage {
        width: 100%;
    }

    .search_section_container {
        padding: 0 2rem;
    }
}

@media (max-width: 680px) {

    .heroContent h1 {
        font-size: 2rem;
    }

    .heroContent p {
        font-size: 1rem;
        width: 100%;
    }

    .heroImage {
        width: 100%;
    }

    form {
        margin-top: 2rem;
        padding: 1.5rem 1rem;
    }

    .switch_container {
        padding: 0.6rem 1rem;
    }
}